body { background: #928473; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 38px; display: flex; }
.block-config-0 { color: #2259bc; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #859eff; font-size: 16px; margin-bottom: 5px; }
.block-email-2 { color: #3351de; font-size: 17px; margin-bottom: 5px; }
.block-invoice-3 { color: #993a15; font-size: 21px; margin-bottom: 5px; }
.block-router-4 { color: #7b7809; font-size: 15px; margin-bottom: 5px; }